name: Build Main

on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - run: echo "The job was triggered by a ${{ github.event_name }} event."
      - run: echo "This job is running on ${{ runner.os }} server"
      - run: echo "The name of the branch is ${{ github.ref }} and repository is ${{ github.repository }}"
      - name: checkout repository code
        uses: actions/checkout@v4.1.1
      - run: echo "Repository ${{ github.repository }} copied to path ${{ github.workspace }} on the runner"
      - name: check if event is a pull request
        if: ${{ github.event_name == 'pull_request' }}
        run: echo "This event is a pull request"
      - name: Set up JDK 21
        uses: actions/setup-java@v4.0.0
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven
      - name: Display java version
        run: java -version
      - run: echo "The preinstalled tools are located at ${{ runner.tool_cache }} on the runner"
      - name: List files in tool cache
        run: |
          ls ${{ runner.tool_cache }}
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - run: echo "This job's status is ${{ job.status }}"
  test:
    name: Integration Test
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "This job is now running on ${{ runner.os }}"